*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
}

.navbar__brand{
    width: 100px;
    height: 100%;
}

.brand__logo{
    width: 100%;
    height: 100%;
}

.languages__dropdown{
    background: transparent;
    border: none;
    color: white;
}

.languages__dropdown:focus{
    outline: none;
}

.dropdown__container{
    border: 1px solid white;
    border-radius: 4px;
    padding: 0.4rem;
    background: rgba(0,0,0,0.4);
}

.button__signIn{
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    padding : 0.25rem .5rem;
    border-radius: 4px;
}

.navbar__nav__items{
    display: flex;
    gap: 10px;
}

.hero__bg__image__container{
    width: 100%;
    height: 75vh;
}

.hero__bg__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__bg__overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 75vh;
    background: rgba(0,0,0,0.4);
}

.hero__card{
    position: absolute;
    top: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero__title{
    font-weight: 600;
    font-size: 25px;
}

.hero__subtitle, .hero__description{
    font-weight: 400;
    font-size: 1rem;
}

@media (min-width: 768px)
{
    .navbar__brand{
        width: 120px;
    }

    .button__signIn{
        padding: 10px 20px;
        font-size: 15px;
    }

    .hero__bg__image__container{
        height: 100vh;
    }

    .hero__bg__overlay{
        height: 100vh;
    }

    .hero__card{
        top: 40%;
        left: 25%;
        transform: translate(-20%, -20%);
    }

    .hero__title{
        font-size: 45px;
    }

    .hero__subtitle, .hero__description{
        font-weight: 400;
        font-size: 23px;
    }

}

@media (min-width: 1024px)
{
    .navbar{
        padding: 2% 5%;
    }

    .navbar__brand{
        width: 180px;
    }

    .button__signIn{
        padding: 10px 20px;
        font-size: 18px;
    }

    .dropdown__container{
        padding: 10px 5px;
    }

    .navbar__nav__items{
        gap: 30px;
    }

    .hero__card{
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero__title{
        font-size: 45px;
    }

    .hero__subtitle{
        font-size: 25px;
    }

    .hero__description{
        font-size: 18px;
    }

}

@media (min-width: 1256px)
{

}